
ion-toolbar{
  --background: #041d52; 
}

ion-card {
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
}
ion-title {
  color:  #ffc400;
  font-size: 1.2em;
  text-align: center;
}

ion-card-header {
  background: #041d52;
  color: #ffffff;
}

ion-card-title {
  font-weight: bold;
  text-align: center;
  color:  #ffc400; 
}

ion-item {
  --background: #ffffff;
  --border-color: #041d52; 
  margin-bottom: 15px;
}

ion-label {
  color: #041d52;
}

ion-input {
  --padding-start: 0;
}


ion-button {
  --background: #ffc400;
  --color: #041d52;
  border-radius: 4px;
  margin-top: 20px;
}


ion-footer {
  ion-text {
    color: #041d52;
    text-align: center;
    margin-top: 15px;
    a {
      color: #041d52;
      text-decoration: underline;
    }
  }
}


@media (max-width: 600px) {
  ion-card {
    margin: 0 5px;
  }

  ion-header {
    font-size: 1em;
  }

  ion-title {
    font-size: 1em;
  }
  
  ion-item {
    --padding-start: 0;
  }

  ion-button {
    font-size: 0.9em;
  }

  ion-card-content {
    padding: 10px;
  }
}

@media (min-width: 601px) {
  ion-card {
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
  }
}
