
ion-header {
    --background: #041d52; /* Azul DuocUC */
  }
  
ion-toolbar {
    --background: #041d52;
}
  
ion-title {
    --color: #ffc400; /* Amarillo DuocUC */
}
ion-footer {
    --background: #041d52;
    --color: #ffc400;
  }
  