<div class="d-flex-center">
  <ion-card class="ion-padding">
    <div class="ion-text-center ion-padding-vertical">
      <h1>Seleccione tipo de registro</h1>
    </div>

    <div class="ion-padding-vertical">
      <ion-button expand="block" mode="ios" class="submit" routerLink="/sign-up">
        Alumno
        <ion-icon slot="end" name="school-outline"></ion-icon>
      </ion-button>

      <ion-button expand="block" mode="ios" class="submit ion-margin-top" routerLink="/sign-up">
        Profesor
        <ion-icon slot="end" name="person-outline"></ion-icon>
      </ion-button>
    </div>
    <ion-button expand="block" mode="ios" class="submit ion-margin-top" routerLink="/auth">
      Salir
      <ion-icon slot="end" name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-card>
</div>

