.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Centra verticalmente */
    width: 100%; /* Asegura que ocupe todo el ancho */
  }
.submit {
  --background: #041d52;
  --color: #ffc400;
  margin-top: 20px;
  height: 45px;
}

ion-button[routerLink="/sign-up"] {
  --background: #ffc400;
  --color: #041d52;
  margin-top: 10px;
  height: 45px;
}