<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Selector de fecha -->
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-datetime 
      [(ngModel)]="fecha"
      (ionChange)="cerrarFecha()"
      [showDefaultButtons]="true"
      (click)="abrirFecha()"
      presentation="date">
    </ion-datetime>
  </ion-item>

  <!-- Selector de asignatura -->
  <ion-item>
    <ion-label>Asignatura</ion-label>
    <ion-select [(ngModel)]="asignatura" (ionChange)="onAsignaturaChange()">
      <ion-select-option *ngFor="let asig of asignaturas">
        {{asig}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Selector de sección -->
  <ion-item>
    <ion-label>Sección</ion-label>
    <ion-select [(ngModel)]="seccion" (ionChange)="onSeccionChange()" [disabled]="!asignatura">
      <ion-select-option *ngFor="let sec of seccionesDisponibles">
        {{sec}}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Lista de alumnos -->
  <ion-list *ngIf="alumnos.length > 0">
    <ion-item *ngFor="let alumno of alumnos">
      <ion-label>{{alumno.nombre}}</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="alumno.presente"></ion-checkbox>
    </ion-item>
  </ion-list>

  <!-- Botón de confirmación -->
  <ion-button expand="block" (click)="confirmar()" [disabled]="!asignatura || !seccion">
    Confirmar Asistencia
  </ion-button>
</ion-content>
