<ion-header>
  <ion-toolbar>
    <ion-title>Tomar Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-label>Asignatura</ion-label>
    <ion-select [(ngModel)]="asignatura" (ionChange)="onAsignaturaChange()" placeholder="Selecciona Asignatura">
      <ion-select-option *ngFor="let asignatura of asignaturas" [value]="asignatura">{{ asignatura }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="seccionesDisponibles.length > 0">
    <ion-label>Sección</ion-label>
    <ion-select [(ngModel)]="seccion" (ionChange)="onSeccionChange()" placeholder="Selecciona Sección">
      <ion-select-option *ngFor="let seccion of seccionesDisponibles" [value]="seccion">{{ seccion }}</ion-select-option>
    </ion-select>
  </ion-item>

  <!-- Lista de alumnos presentes -->
  <ion-list>
    <ion-item *ngFor="let alumno of alumnos">
      <ion-label>{{ alumno.nombre }}</ion-label>
      <ion-label slot="end">{{ alumno.presente ? 'Presente' : 'Ausente' }}</ion-label>
    </ion-item>
  </ion-list>

  <!-- Nueva sección para mostrar asistentes registrados mediante QR -->
  <ion-card *ngIf="asistentesQR.length > 0">
    <ion-card-header>
      <ion-card-title>Asistentes Registrados</ion-card-title>
    </ion-card-header>
    <ion-list>
      <ion-item *ngFor="let asistente of asistentesQR">
        <ion-label>
          <h2>Nombre: {{ asistente.nombre }}</h2>
          <p>Correo: {{ asistente.correo }}</p>
          <p>Asignatura: {{ asignatura }}</p>
          <p>Sección: {{ seccion }}</p>
          <p>Profesor: {{ profesor }}</p>
          <p>Fecha y Hora: {{ asistente.fechaHoraChile }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <!-- Botones de confirmar y cancelar -->
  <div id="centrar">
    <ion-button fill="clear" class="volver" (click)="confirmar()">Listo</ion-button>
    <ion-button fill="clear" class="volver" [routerLink]="['/home']">Cancelar</ion-button>
  </div>

</ion-content>
